@import '../../../../../assets/styles/media';

.parent {
    @apply absolute top-5 right-5;
	@include media(tablet) {
		@apply top-2 right-2;
	}
	@include media(mobile) {
		@apply top-1 right-1;
	}

    > button {
        @apply cursor-pointer border-none outline-none rounded-md bg-white hover:bg-primary hover:text-white transition-colors py-2 px-4 text-black;
        @include media(mobile) {
			@apply px-3 py-1.5;
		}

        &.active {
            @apply bg-primary text-white;
        }
    }

    > article {
        @apply animate-scaleIn absolute right-0 top-10 bg-bgColor text-white text-sm px-4 text-left rounded;

		z-index: 100;
        width: 60rem;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);

        @include media(tablet) {
			width: 26.5rem;
		}

		@include media(mobile) {
			@apply top-8 px-2 z-20;
			font-size: 0.8rem;

			width: 19.5rem;

			> p {
				@apply my-2;
			}
		}
    }
}